<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech world</title>
    <link rel="stylesheet" href="news.css">
</head>
<body>
    <nav>
        <div class="Logo">
          <ul>
            <img src="Logo.png" alt="LOGO" /> 
          </ul>
        </div>  
            <div class="menu">
                <ul>
                    <li> <a href="news.html"> Home</a></li>
                    <li> <a href="#"> About</a></li>
                    <div class="user">
                        <img src="Profile Logo.png" alt="user" />
                        <div class="user-info">
                        </div>
                    </div>      
                </ul>
            </div>
    </nav>

    <hr width="900%" style="border: 3px solid #f20f0f; margin-top: 10px;margin-bottom: 20px;">
	<h1><center>TECH World!</h1>
    <div class="container">
        <div class="card">
          <div class="card-header">
            <img src="https://images.indianexpress.com/2022/11/ElonMusk_TwitterProfile_1.jpg" alt="rover" />
          </div>
          <div class="card-body">
            <span class="tag tag-purple">Tech World</span>
            <h4>
               <a href="https://indianexpress.com/article/technology/tech-news-technology/elon-musk-twitter-blue-with-paid-verifications-starts-rolling-out-and-theres-chaos-8260022/" target=_blank>Twitter Blue with paid verifications starts rolling out, and there’s chaos</a>
            </h4>
            <p>
             “Please note that Twitter will do lots of dumb things in coming months. We will keep what works & change what doesn’t. (sic),” tweeted Elon Musk last night as the company’s Twitter Blue subscription service started to roll out. The new subscription plan lets anyone get verified for the price of $8 price in the US.
            </p>
          </div>
        </div>
	  <div class="card">
          <div class="card-header">
            <img src="https://images.indianexpress.com/2022/11/Asus-Fold-FB.jpg" alt="rover" />
          </div>
          <div class="card-body">
            <span class="tag tag-purple">Tech World</span>
            <h4>
               <a href="https://indianexpress.com/article/technology/tech-news-technology/foldable-laptops-will-have-a-similar-market-trajectory-as-foldable-phones-asus-india-executive-8258400/" target=_blank>‘Foldable laptops will have a similar market trajectory as foldable phones’: Asus India executive</a>
            </h4>
            <p>
             Arnold Su, Business Head, Consumer and Gaming PC, System Business Group, Asus India, sees a similar market trajectory for foldable laptops as foldable phones. “If you go back to the foldable phone segment four years back, it was a niche product category, but gradually the market has expanded,” Su told indianexpress.com in an interview.
            </p>
          </div>
        </div>
	  <div class="card">
          <div class="card-header">
            <img src="https://images.indianexpress.com/2022/11/Zuckerberg_AP_1.jpg" alt="rover" />
          </div>
          <div class="card-body">
            <span class="tag tag-purple">Tech World</span>
            <h4>
               <a href="https://indianexpress.com/article/technology/tech-news-technology/mark-zuckerberg-message-meta-job-cuts-layoffs-employees-impacted-8259093/" target=_blank>Immigration help for those on visas to healthcare: Zuckerberg’s message after Meta layoffs</a>
            </h4>
            <p>
             Meta Wednesday announced it will let go of more than 11,000 employees or 13 per cent of its total workforce, in one of the biggest layoffs in the US this year. In a blog post posted on the company’s official newsroom, Meta CEO and co-founder Mark Zuckerberg.”
            </p>
          </div>
        </div>
	  <div class="card">
          <div class="card-header">
            <img src="https://images.indianexpress.com/2022/11/FTX-Binance-20221110.jpg" alt="rover" />
          </div>
          <div class="card-body">
            <span class="tag tag-purple">Tech World</span>
            <h4>
               <a href="https://indianexpress.com/article/technology/crypto/ftx-binance-takeover-crypto-market-8260361/" target=_blank>Behind FTX’s fall, battling billionaires and a failed bid to save crypto</a>
            </h4>
            <p>
             The reason for the mea culpa: His announcement half an hour earlier that FTX’s arch-rival, Binance, planned to mount a shock takeover of its main trading platform to save it from a “liquidity crunch.” Binance founder Changpeng “CZ” Zhao, whom the billionaire had accused of sabotage, would now be his White Knight.
            </p>
          </div>
        </div>
	  <div class="card">
          <div class="card-header">
            <img src="https://images.indianexpress.com/2022/11/YouTube.jpg" alt="rover" />
          </div>
          <div class="card-body">
            <span class="tag tag-purple">Tech World</span>
            <h4>
               <a href="https://indianexpress.com/article/technology/techook/youtube-premium-and-music-crosses-80-million-user-mark-heres-how-to-get-it-8260385/" target=_blank>YouTube Premium and Music crosses 80 million user mark: Here’s how to get it</a>
            </h4>
            <p>
             In a recent blog post, YouTube announced that it has more than 80 million Premium and Music subscribers worldwide. In September last year, the video streaming platform surpassed the 50 million mark. YouTube Premium’s growth has been nothing short of impressive.
            </p>
          </div>
        </div>
	  <div class="card">
          <div class="card-header">
            <img src="https://images.indianexpress.com/2022/11/Cygnus-cargo-ship-20221110.jpg" alt="rover" />
          </div>
          <div class="card-body">
            <span class="tag tag-purple">Tech World</span>
            <h4>
               <a href="https://indianexpress.com/article/technology/science/nasa-cygnus-cargo-ship-international-space-station-8260201/" target=_blank>Cargo ship reaches space station despite jammed solar panel</a>
            </h4>
            <p>
             A Northrop Grumman capsule delivered several tons of supplies to the International Space Station on Wednesday despite a jammed solar panel. The shipment arrived two days after launching from Virginia.
            </p>
          </div>
        </div>
  </div>
	  
</body>
</html>