<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World 360°</title>
    <link rel="stylesheet" href="news.css">
</head>
<body>
    <nav>
        <div class="Logo">
          <ul>
            <img src="Logo.png" alt="LOGO" /> 
          </ul>
        </div>  
            <div class="menu">
                <ul>
                    <li> <a href="news.html"> Home</a></li>
                    <li> <a href="#"> About</a></li>
                    <div class="user">
                        <img src="Profile Logo.png" alt="user" />
                        <div class="user-info">
                        </div>
                    </div>      
                </ul>
            </div>
    </nav>

    <hr width="900%" style="border: 3px solid #f20f0f; margin-top: 10px;margin-bottom: 20px;">
	<h1><center>World 360°</h1>
    <div class="container">
        <div class="card">
          <div class="card-header">
            <img src="https://images.indianexpress.com/2021/10/climate-change-2.jpg" alt="rover" />
          </div>
          <div class="card-body">
            <span class="tag tag-purple">World 360°</span>
            <h4>
               <a href="https://indianexpress.com/article/world/the-world-is-falling-short-of-its-climate-goals-four-big-emitters-show-why-8260452/" target=_blank>The world is falling short of its climate goals. four big emitters show why.</a>
            </h4>
            <p>
             Seven years after the Paris Agreement, in which leaders pledged to reduce greenhouse gas emissions in order to avoid the worst effects of climate change, the world is still not on track to meet those goals.
            </p>
          </div>
        </div>
	  <div class="card">
          <div class="card-header">
            <img src="https://images.indianexpress.com/2022/11/ELN-HISTORY-MAKERS-2.jpg" alt="rover" />
          </div>
          <div class="card-body">
            <span class="tag tag-purple">World 360°</span>
            <h4>
               <a href="https://indianexpress.com/article/world/diverse-field-of-candidates-makes-history-in-midterms-8260582/" target=_blank>Diverse field of candidates makes history in midterms</a>
            </h4>
            <p>
             All of them, and more, made history Tuesday, emerging victorious from a field of candidates that was in many respects more diverse than in previous years — with more women nominated for governorships and state legislatures, more Black people nominated for the Senate and more LGBTQ people nominated for the House than ever before.
            </p>
          </div>
        </div>
	  <div class="card">
          <div class="card-header">
            <img src="https://images.indianexpress.com/2022/11/393277643.jpg" alt="rover" />
          </div>
          <div class="card-body">
            <span class="tag tag-purple">World 360°</span>
            <h4>
               <a href="https://indianexpress.com/article/world/united-states-female-governors-elected-2022-midterms-8259976/" target=_blank>Record number of female governors elected in US but count still hovers below quarter mark
</a>
            </h4>
            <p>
             Twelve women will hold the highest state executive office after Tuesday’s midterm elections, with Democratic stronghold Massachusetts and Republican-controlled Arkansas picking their first female governors,
            </p>
          </div>
        </div>
	  <div class="card">
          <div class="card-header">
            <img src="https://images.indianexpress.com/2022/11/kherson.jpg" alt="rover" />
          </div>
          <div class="card-body">
            <span class="tag tag-purple">World 360°</span>
            <h4>
               <a href="https://indianexpress.com/article/world/russian-military-casualties-ukraine-war-us-estimate-8259746/" target=_blank>More than 1 lakh Russian military casualties in Ukraine, says top US general</a>
            </h4>
            <p>
             America’s top general estimated on Wednesday that Russia’s military had seen more than 100,000 of its soldiers killed and wounded in Ukraine, and added Kyiv’s armed forces “probably” suffered a similar level of casualties in the war.
            </p>
          </div>
        </div>
	  <div class="card">
          <div class="card-header">
            <img src="https://images.indianexpress.com/2022/11/pakistan-flag-759.jpeg" alt="rover" />
          </div>
          <div class="card-body">
            <span class="tag tag-purple">World 360°</span>
            <h4>
               <a href="https://indianexpress.com/article/world/pak-government-to-implement-interest-free-banking-system-by-2027-8259439/" target=_blank>Pak government to implement ‘interest-free’ banking system by 2027</a>
            </h4>
            <p>
             In a significant move, Pakistan’s Finance Minister Ishaq Dhar on Wednesday announced that the country would move towards an ‘interest-free’ banking system under the Islamic law by 2027.
            </p>
          </div>
        </div>
	  <div class="card">
          <div class="card-header">
            <img src="https://images.indianexpress.com/2022/11/Election_2022_Virginia_House_65018-16a69.jpg" alt="rover" />
          </div>
          <div class="card-body">
            <span class="tag tag-purple">World 360°</span>
            <h4>
               <a href="https://indianexpress.com/article/world/us-midterm-elections-2022-democrats-show-surprising-strength-control-of-congress-unclear-8258747/" target=_blank>US Midterm Elections 2022: Democrats show surprising strength; control of Congress unclear</a>
            </h4>
            <p>
             In the most heartening news for Democrats, John Fetterman flipped a Republican-controlled Senate seat that is key to the party’s hopes of maintaining control of the chamber. It was too early to call critical Senate seats in Wisconsin, Nevada, Georgia and Arizona.
            </p>
          </div>
        </div>
  </div>
	  
</body>
</html>